<h2 class="text-white">Users</h2>

<%= will_paginate %>

<div class="jumbotron bg-white">
  <ul>
    <% @users.each do |user| %>
    <%= render "user_row", user: user %>
    <% end %>
  </ul>
</div>

<%= will_paginate %>
