<h2 class="text-white">Frequently Asked Questions</h2>

<ul class="text-white">
  <li>
    <h5>What is Develoo?</h5>
    <p>A marketplace where clients can commission web and software developers to make websites and applications directly, quickly and securely.</p>
  </li>
  <li>
    <h5>How does Develoo work if I'm a developer?</h5>
    <p> Devs set up their account and post what their skills are and what kind of work they are available to do by creating commissions.</p>
  </li>
  <li>
    <h5>How does Develoo work if I'm a client?</h5>
    <p>Clients search through the avialable commissions and once they find something that suits them, they can quickly hire the dev by purchasing the commission and then communicate directly through the website.</p>
  </li>
  <li>
    <h5>How do you handle payments?</h5>
    <p>Through Stripe. All payments are handled through a secure gateway and all devs have to be verified first before being able to make commissions.</p>
  </li>
  <li>
    <h5>Who is your mascot?</h5>
    <p>His name is 'Curly the Cuddlefish', and he was created on commission for Develoo by <%= link_to 'Gabriel Marinos', 'http://gabrielpmarinos.wix.com/folio', class: "text-warning" %>.</p>
  </li>
</ul>
