<div class="container-fluid">
  <h1 class="display-1 text-center">Develoo<h1>
  <p class="small text-muted text-center">Apps, built for you</p>
  <hr class="my-4">
</div>

<br>

<div class="container-fluid text-center">
  <h4>Profiles</h4>
  <div class="d-flex row">
    <% @profile.each do |profile| %>
      <div class="mx-auto my-4">
        <div class="card" style="width: 20rem;">
          <%= gravatar_image_tag(profile.user.email, alt: profile.user.name, class: "card-img-top", gravatar: { secure: true, default: :identicon, size: 310 } ) %>
          <div class="card-body">
            <h4 class="card-title"><%= profile.user.name %></h4>
            <p class="card-text"></p>
            <%= link_to "Go to Profile", profile_path(profile) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
