<div class="jumbotron-fluid">
  <div class="text-center">
    <%= image_tag 'http://power.itp.ac.cn/~jmyang/funny/fun4.jpg',class: "img-fluid", height: 200, width: 200) %>
  </div>
  <h1 class="display-1 text-center text-white">Develoo</h1>
  <p class="small text-center text-white">Apps, built for you</p>
  <hr class="my-4" color="#111">
  <div class="container text-center text-white">
    <h5>Connect with Web and Software Developers and commission them to develop Websites and Apps for you.</h5>
    <h5>Ready to start?</h5>
    <%= link_to "Sign up!", new_user_registration_path , class: "btn btn-outline-info" %>
  </div>
</div>

<br>

<%= render "devs_list"%>
<hr>
<%= render "admins_list"%>
