<% page_header 'Your Cart' %>
<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>
<br>
<div class="btn btn-secondary">
  Cart purchasing coming soon
</div>

<div class="my-2">
  <p class="muted">
    You can still buy commissions individually
  </p>
  <%= link_to "Head there now", commissions_path %>
</div>
