<% page_header "Commissions" %>
<% if user_signed_in? %>
  <% if current_user.has_any_role?(:admin, :dev) %>
    <p><%= link_to 'New Commission', new_commission_path, class: "btn btn-primary" %></p>
  <% end %>
<% end %>

<div class="container-fluid text-center">
  <div class="d-flex row">
    <% @commissions.each do |commission| %>
      <%= render "commission_row", commission: commission, order_item: @order_item %>
    <% end %>
  </div>
</div>
