<% page_header @profile.user.alias %>
<hr>
<%= gravatar_image_tag(@profile.user.email, alt: @profile.user.alias, class: "img-fluid rounded", gravatar: { secure: true, default: :identicon, size: 200 } ) %>

<p>
  <%= @profile.bio %>
</p>

<% unless current_user == @user %>
  <%= link_to 'Send message', new_message_path(to: @profile.user.id), class: 'btn btn-default btn-sm' %>
<% end %>

<% if current_user == @profile.user %>
<%= link_to 'Edit Your Profile', edit_profile_path(@profile) %>
<% end %>
