<div class="jumbotron-fluid">
<h2 class="display-2 text-center">
  Success! </h2>
<p class="display-5 text-center text-success">Checkout process is complete.</p>
<p class="display-5 text-center"> You will receive an e-mail shortly confirming your commission purchase.</p>
</div>
